body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Full viewport height */
  text-align: center; /* Center text inside elements */
  background-color: #f0f0f0; /* Optional: Light background */
}

header {
  text-align: center; /* Ensures the heading is centered */
  margin-bottom: 20px; /* Adds space between the title and the tasks */
}

.container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
  gap: 10px; /* Adds spacing between items */
}

.task {
  display: block;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: #f0f0f0;
  border: 3px solid white;
  text-decoration: none;
  color: black;
  font-size: 16px;
  width: 250px; /* Set a fixed width */
  text-align: center; /* Ensures text inside the button is centered */
}

.task:hover {
  background-color: white;
}

.button-container {
  display: flex;
  justify-content: center; 
  gap: 40px;
  margin-top: 40px;
}

.add-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #478BE3;
}

.delete-button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #478BE3;
  ;
}

.action-button:hover {
  opacity: 0.8;
}